.wrap .top .search, .wrap .top .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem !important;
  -webkit-animation: opacitytransform .3s ease-in-out;
          animation: opacitytransform .3s ease-in-out;
}

.wrap.dark .top .search input,
.wrap.dark .top .search .button,
.wrap.dark .top .filter select {
  background: #080808;
}

.wrap.light .top .search input,
.wrap.light .top .search .button,
.wrap.light .top .filter select {
  background: #e2e4e9;
}

.wrap .top {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  border-bottom: 0.1rem solid #313131;
  padding-bottom: 1rem !important;
  margin-bottom: 1rem !important;
}

.wrap .top .search {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .top .search input,
.wrap .top .search .button {
  height: 2.5rem;
}

.wrap .top .search input {
  width: 100%;
  padding: 0 .7rem !important;
  color: gray;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .15rem;
  outline: none;
  border: 0.15rem solid #313131;
  border-radius: .5rem 0 0 .5rem;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.wrap .top .search input:focus ~ .button svg {
  -webkit-filter: brightness(0) saturate(100%) invert(54%) sepia(69%) saturate(6465%) hue-rotate(350deg) brightness(103%) contrast(99%);
          filter: brightness(0) saturate(100%) invert(54%) sepia(69%) saturate(6465%) hue-rotate(350deg) brightness(103%) contrast(99%);
}

.wrap .top .search .button {
  padding: .3rem !important;
  border: none;
  border-top: 0.15rem solid #313131;
  border-right: 0.15rem solid #313131;
  border-bottom: 0.15rem solid #313131;
  border-radius: 0 .5rem .5rem 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.wrap .top .search .button:hover svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: brightness(0) saturate(100%) invert(54%) sepia(69%) saturate(6465%) hue-rotate(350deg) brightness(103%) contrast(99%);
          filter: brightness(0) saturate(100%) invert(54%) sepia(69%) saturate(6465%) hue-rotate(350deg) brightness(103%) contrast(99%);
}

.wrap .top .search .button svg {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-filter: brightness(0) saturate(100%) invert(12%) sepia(3%) saturate(15%) hue-rotate(30deg) brightness(101%) contrast(80%);
          filter: brightness(0) saturate(100%) invert(12%) sepia(3%) saturate(15%) hue-rotate(30deg) brightness(101%) contrast(80%);
}

.wrap .top .filter {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin-top: 1rem !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scrollbar-width: 0;
  overflow-y: auto;
}

.wrap .top .filter::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.wrap .top .filter select {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin-right: .5rem !important;
  padding: .3rem !important;
  color: gray;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  outline: none;
  border-radius: .3rem;
  border: 0.1rem solid #313131;
}

.wrap .top .filter select option {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .15rem;
  line-height: 2rem;
}

.wrap .content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

@-webkit-keyframes opacitytransform {
  0% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacitytransform {
  0% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=Discovery.module.css.map */