.wrap .header .info .statistic .item, .wrap .header .info .statistic .item .itemTitle, .wrap .content .title, .wrap .content .steps .step span p, .wrap .content .ingresients ul .items {
  display: flex;
  flex-direction: row;
}

.wrap, .wrap .header .info, .wrap .content .steps .step, .wrap .content .ingresients ul, .wrap .footer {
  display: flex;
  flex-direction: column;
}

.wrap {
  width: 100%;
  height: max-content;
  position: relative;
  padding: 1rem !important;
  overflow-y: auto;
  animation: opacitytransform .3s 1 ease-in-out;
}

.wrap.dark .header {
  background-color: #131313;
}

.wrap.dark .header .info {
  background-color: #131313;
}

.wrap.dark .header .img img {
  filter: brightness(85%);
}

.wrap.dark .content .steps .step,
.wrap.dark .content .steps .step span p,
.wrap.dark .ingresients ul .items,
.wrap.dark .ingresients ul .items .name,
.wrap.dark .ingresients ul .items .unit {
  background-color: #131313;
}

.wrap.light .header {
  background-color: #ffffff;
}

.wrap.light .header .info {
  background-color: #ffffff;
}

.wrap.light .header .img img {
  filter: saturate(150%);
  opacity: .95;
}

.wrap.light .content .steps .step,
.wrap.light .content .steps .step span p,
.wrap.light .ingresients ul .items,
.wrap.light .ingresients ul .items .name,
.wrap.light .ingresients ul .items .unit {
  background-color: #ffffff;
}

.wrap .header {
  width: fit-content;
  height: min-content;
  position: relative;
  margin: 0 auto !important;
  z-index: inherit;
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  grid-template-areas: "img info";
  grid-template-rows: auto;
  border-radius: .5rem;
}

.wrap .header .img {
  overflow: hidden;
  border-radius: .5rem 0 0 .5rem;
  grid-area: img;
  position: relative;
}

.wrap .header .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.wrap .header .info {
  position: relative;
  padding: 1.5rem !important;
  grid-area: info;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0 .5rem .5rem 0;
}

.wrap .header .info .title,
.wrap .header .info .description {
  width: auto;
  max-width: 21rem;
  height: fit-content;
  color: #f4f4f4;
  mix-blend-mode: difference;
  font-stretch: normal;
  hyphens: auto;
  word-wrap: normal;
  word-break: keep-all;
  word-spacing: normal;
  text-align: center;
  overflow-wrap: break-word;
}

.wrap .header .info .title {
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: .15rem;
  line-height: 2.5rem;
}

.wrap .header .info .description {
  margin-top: 1rem !important;
  font-size: 1rem;
  text-align: center;
  letter-spacing: .1rem;
}

.wrap .header .info .statistic {
  width: max-content;
  height: fit-content;
  position: relative;
  margin-top: 1rem !important;
}

.wrap .header .info .statistic .item {
  width: 100%;
  height: fit-content;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: .5rem !important;
  padding: .3rem !important;
  border-radius: .3rem;
  border: .1rem solid gray;
  font-size: 1rem;
  letter-spacing: .1rem;
  transition: .3 ease-in-out;
  z-index: 10;
}

.wrap .header .info .statistic .item .itemTitle {
  width: 100%;
  height: fit-content;
  position: relative;
  margin-right: .5rem !important;
  align-items: center;
}

.wrap .header .info .statistic .item .itemTitle svg {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  transition: .3 ease-in-out;
  margin-right: .5rem !important;
  filter: brightness(0) saturate(100%) invert(24%) sepia(1%) saturate(2631%) hue-rotate(314deg) brightness(107%) contrast(82%);
}

.wrap .header .info .statistic .item i {
  width: max-content;
  height: fit-content;
  position: relative;
  color: gray;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
}

.wrap .header .info .statistic .item .name {
  transition: 1s linear;
}

.wrap .content {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 2rem !important;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5fr minmax(10rem, 20rem);
  grid-template-areas: "steps ingredients";
  grid-template-rows: auto;
}

.wrap .content .title {
  width: fit-content;
  height: fit-content;
  position: relative;
  align-items: flex-end;
  font-weight: bolder;
  letter-spacing: .15rem;
}

.wrap .content .title i {
  margin-right: .5rem !important;
  color: #FF4B2B;
  font-size: 1rem;
  text-transform: lowercase;
  mix-blend-mode: normal;
}

.wrap .content .title b {
  color: #f4f4f4;
  mix-blend-mode: difference;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.wrap .content .steps {
  position: relative;
  grid-area: steps;
  padding-right: 1rem !important;
  border-right: 0.1rem solid #313131;
}

.wrap .content .steps .step {
  width: 100%;
  height: fit-content;
  position: relative;
  margin-top: 1rem !important;
  padding: .8rem !important;
  border-radius: .5rem;
}

.wrap .content .steps .step span {
  width: 100%;
  height: min-content;
  position: relative;
}

.wrap .content .steps .step span p {
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 50;
  align-items: center;
  mix-blend-mode: normal;
}

.wrap .content .steps .step span p i {
  color: gray;
  mix-blend-mode: difference;
  font-style: normal;
  font-weight: lighter;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  text-transform: lowercase;
  line-height: 1rem;
  letter-spacing: .1rem;
}

.wrap .content .steps .step span p i:first-child {
  margin-right: .5rem;
}

.wrap .content .steps .step span p i:last-child {
  padding-right: .5rem;
}

.wrap .content .steps .step span::after {
  content: "";
  width: 100%;
  height: .05rem;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);
  background-color: #4b4b4b;
  mix-blend-mode: difference;
}

.wrap .content .steps .step .text {
  margin-top: 1rem !important;
  word-wrap: normal;
  word-break: keep-all;
  word-spacing: normal;
  hyphens: auto;
  overflow-wrap: break-word;
  color: #f4f4f4;
  mix-blend-mode: difference;
  font-size: 1rem;
  font-stretch: normal;
  letter-spacing: .1rem;
}

.wrap .content .ingresients {
  width: 100%;
  position: relative;
  grid-area: ingredients;
  padding-left: 1rem !important;
}

.wrap .content .ingresients ul {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: .5rem !important;
}

.wrap .content .ingresients ul .items {
  width: 100%;
  height: fit-content;
  position: relative;
  align-items: center;
  margin-top: .5rem !important;
  padding: .5rem !important;
  justify-content: space-between;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .05rem;
  overflow: hidden;
}

.wrap .content .ingresients ul .items p {
  width: fit-content;
  mix-blend-mode: normal;
  z-index: 10;
}

.wrap .content .ingresients ul .items p i {
  width: fit-content;
  display: inline-block;
  font-style: normal;
}

.wrap .content .ingresients ul .items p i.name {
  width: 100%;
  height: fit-content;
  position: relative;
  padding-right: .5rem !important;
  color: gray;
  mix-blend-mode: difference;
  word-wrap: normal;
  word-break: keep-all;
  word-spacing: normal;
  hyphens: auto;
  overflow-wrap: break-word;
  mix-blend-mode: difference;
  font-size: 1rem;
  font-stretch: normal;
  letter-spacing: .1rem;
  text-transform: lowercase;
}

.wrap .content .ingresients ul .items p i.name::first-letter {
  text-transform: uppercase;
}

.wrap .content .ingresients ul .items p i.unit {
  width: max-content;
  height: fit-content;
  position: relative;
  margin-left: 1rem;
  padding-left: .5rem !important;
  color: gray;
  mix-blend-mode: difference;
  white-space: nowrap;
}

.wrap .content .ingresients ul .items::after {
  content: "";
  width: 80%;
  height: .1rem;
  position: absolute;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #4b4b4b;
  mix-blend-mode: difference;
}

.wrap .footer {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 1rem !important;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrap .footer .user {
  min-width: 20rem;
  margin-top: .5rem !important;
}

@keyframes opacitytransform {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .wrap {
    padding: 0 !important;
    padding-bottom: 1rem !important;
  }
  .wrap.dark .header .img img {
    filter: brightness(85%);
  }
  .wrap.light .header .img img {
    filter: saturate(150%);
    opacity: .95;
  }
  .wrap .header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    position: relative;
    border-radius: 0;
  }
  .wrap .header .setup {
    padding: 1rem !important;
  }
  .wrap .header .img, .wrap .header .info {
    border-radius: 0;
  }
  .wrap .header .info {
    padding: 1rem !important;
  }
  .wrap .header .info .statistic {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    scrollbar-width: 0;
    margin-top: 1rem !important;
  }
  .wrap .header .info .statistic::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .wrap .header .info .statistic .item {
    max-width: min-content;
    padding: .3rem !important;
    margin-top: 0 !important;
    margin-right: .5rem !important;
  }
  .wrap .header .info .statistic .item .itemTitle {
    margin-right: 0rem !important;
  }
  .wrap .header .info .statistic .item .itemTitle .name {
    display: none;
  }
  .wrap .header .info .statistic .item .itemTitle svg {
    margin-right: .5rem !important;
  }
  .wrap .header .info .statistic .active {
    color: whitesmoke;
    border-color: whitesmoke;
  }
  .wrap .header .info .statistic .active .itemTitle .name {
    display: block;
  }
  .wrap .header .info .statistic .active .itemTitle svg {
    filter: brightness(0) saturate(100%) invert(99%) sepia(94%) saturate(433%) hue-rotate(175deg) brightness(119%) contrast(88%);
  }
  .wrap .content,
  .wrap .footer {
    padding: 0 1rem !important;
  }
}

@media screen and (max-width: 450px) {
  .wrap .header {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "img" "info";
  }
  .wrap .header .info {
    padding: 1.5rem 1rem !important;
  }
  .wrap .content {
    margin-top: 2rem !important;
    grid-template-columns: 100%;
    grid-template-areas: "ingredients" "steps";
    grid-template-rows: auto;
  }
  .wrap .content .steps {
    border-right: none;
    margin-top: 2rem !important;
    padding-right: 0 !important;
  }
  .wrap .content .steps .step {
    padding: 1rem !important;
  }
  .wrap .content .ingresients {
    padding-left: 0 !important;
  }
  .wrap .content .ingresients ul .items::after {
    height: .05rem;
  }
  .wrap .footer {
    width: 100%;
    align-items: center;
  }
  .wrap .footer .user {
    min-width: 0;
  }
}

@media screen and (max-width: 350px) {
  .wrap .header .info .statistic {
    justify-content: flex-start;
  }
}
/*# sourceMappingURL=Post.module.css.map */